:root{
    --main-colour: rgb(207, 159, 255);
    --substitute-colour: rgb(150, 123, 182);
    --font: "Josefin Sans", serif; 

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font); 
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 2em;
    font-family: var(--font);
}

.header{
    overflow: visible;
}

nav{
    
}

.nav__desktop{
    display: none;
    
}

.nav__link__mobile__container{
    list-style: none;
    display: none;
}

.toggle__btn {
    outline: none;
}

a{
    color: initial;
    transition: background-color .5s ease;
}

.nav__link:hover{
    background-color: var(--main-colour);
    padding: 5px;
}

.hero-title{
    color:var(--main-colour);
}

.open{
    display: block;
}

.social__icons i{
    font-size: x-large;
    display: flex;
    color: var(--main-colour);
    /* border: 1px solid var(--main-colour); */
    padding: .5em;
}

.social__icons i:hover{
    color: var(--substitute-colour);
    padding-top: 5px;
    
}

@media (min-width: 700px) and (max-width:990px) {
    .hero__img{
        width: 50%;
        min-height: 200px;
    }

    .hero__information{
        display: flex;
        gap: 40px; 
    }

    
}

.about__head,
.my__journey,
.tech__stack__head{
    color: var(--main-colour);
    text-align: center;
    margin-bottom: 1em;
}

.tech__stack__icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 1.5em 0 1em 1.5em;
    margin: auto;
    border-radius: 20px;
    background-color: var(--substitute-colour);
    color: white;
}

.stack i{
    color: var(--main-colour);
    font-size: 1.5em;
}

@media (min-width: 992px) {
    body{
        margin: 4em 4em;
        font-size: 20px;
    }

    .nav__mobile{
        display: none;
    }

    .nav__desktop{
        display: contents ;
        margin: 4em ;
        /* border: 1px solid red; */
        border-radius: 20px;
        background-color: var(--main-colour);
        padding: 1em 1em;
        position: sticky;
        top: 0;
        box-shadow: 0px 2px 4px var(--substitute-colour);
    }

    .nav__link__desktop__container{
        list-style: none;
        color: white;
    }

    .nav__link{
        color: white;
    }

    .nav__link:hover{
        color: var(--substitute-colour);
        background-color: var(--main-colour);
        padding: 0px;
    }

    .hero__img, .hero__text{
        width: 50%;
    }

    .hero__head{
        margin: 30px 0;
    }


}

@media (min-width: 1200px){
    .nav__desktop{
        padding: 1em 3.5em;
    }

    .hero__text{
        margin: auto 0;
    }

}