:root{
    --main-colour: rgb(207, 159, 255);
    --substitute-colour: rgb(150, 123, 182);
    --charcoal-gray: rgb(50, 50, 60);
    --cool-white: rgb(245, 245, 255);
    --midnight-blue: rgb(35, 45, 85);
    --blush-pink: rgb(255, 203, 219);
    --deep-purple: rgb(128, 90, 176);
    --light-gray: rgb(220, 220, 230);
    --font: "Josefin Sans", serif; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font); 
    color: var(--charcoal-gray);
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 2em;
    font-family: var(--font);
    background: var(--cool-white);
}

.header{
    overflow: visible;
}

nav{
    
}

.nav__desktop{
    display: none;
}

.nav__link__mobile__container{
    list-style: none;
    display: none;
}

.toggle__btn {
    outline: none;
}

a{
    color: initial;
    transition: background-color .5s ease;
}

.nav__link:hover{
    background-color: var(--blush-pink);
    padding: 5px;
}

.hero-title{
    color:var(--main-colour);
}

.open{
    display: block;
}

.social__icons i{
    font-size: x-large;
    display: flex;
    color: var(--main-colour);
    /* border: 1px solid var(--main-colour); */
    padding: .5em;
}

.social__icons i:hover{
    color: var(--blush-pink);
    padding-top: 5px;
}

.about__container{
    background-color: rgba(255, 203, 219,.1); 
    margin: -2em ;
    padding: 2em;
}

.about__head,
.project__head{
    color: var(--deep-purple);
    text-align: center;
    margin-bottom: 1em;
    font-weight: 900;
}

.my__journey,
.tech__stack__head{
    color: var(--main-colour);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
}

.my__journey ~ b{
    color: var(--blush-pink);
}

.tech__stack__icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 1.5em 1em 1.5em 1em;
    margin: auto;
    border-radius: 20px;
    background-color: var(--substitute-colour);
    color: white;
}

.stack i{
    color: var(--main-colour);
    font-size: 1.5em;
}

.stack i:hover{
    color: var(--blush-pink);
}

.stack p{
    color: var(--cool-white);
}

figure{
    position: relative;
    border-radius: 20px;
}

figure:hover figcaption{
    opacity: 1;
}

.project__image{
    width: 100%;
    border-radius: 20px;
    opacity: 0.6;
}

figcaption{
        position: absolute;
        top: 45%;
        width: 100%;
        text-align: center;
        font-size: 18px;
        z-index: 1;
        opacity: 0;
        transition: .4s ease-in-out;
}

figcaption a{
    font-size: 15px;
    text-decoration: none;
    background-color: var(--charcoal-gray);
    padding: 1em;
    border-radius: 16px;
    color: var(--cool-white);
    font-weight: 600;
}

.vaultico, .fourcards{
    background-color: var(--substitute-colour);
}

.rating, .testimonial{
    background-color: var(--light-gray);
}

.brainwave, .react{
    background-color: var(--blush-pink);
}

@media (min-width: 700px) and (max-width:990px) {
    .hero__img{
        width: 50%;
        min-height: 200px;
    }

    .hero__information{
        display: flex;
        gap: 40px; 
    }
  
}

@media (min-width: 992px) {
    body{
        margin: 4em 4em;
        font-size: 20px;
    }

    .nav__mobile{
        display: none;
    }

    .nav__desktop{
        display: contents ;
        margin: 4em ;
        /* border: 1px solid red; */
        border-radius: 20px;
        background-color: var(--main-colour);
        padding: 1em 1em;
        position: sticky;
        top: 0;
        box-shadow: 0px 2px 4px var(--substitute-colour);
    }

    .nav__link__desktop__container{
        list-style: none;
        color: white;
    }

    .nav__link{
        color: white;
    }

    .nav__link:hover{
        color: var(--blush-pink);
        background-color: var(--main-colour);
        padding: 0px;
    }

    .hero__img, .hero__text{
        width: 50%;
    }

    .hero__head{
        margin: 30px 0;
    }

    .about__container{
        background-color: rgba(255, 203, 219,.1);
        margin: -4em ;
        padding: 4em;
    }

    .tech__stack__icons{
        width: 70%;
    }

    .projects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.3rem;
    }
}

@media (min-width: 1200px){
    .nav__desktop{
        padding: 1em 3.5em;
    }

    .hero__text{
        margin: auto 0;
    }

}